* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  justify-content: center;
  align-items: center;
  background-color: #1d061a;
}

h1 {
  font-size: 4rem;
  background-image: linear-gradient(to right, #ff0058 , #4dff03);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 40px 0 0 0;
}

h2 {
  color: rgba(255, 255, 255, 0.712);
  text-align: center;
  padding: 20px 0 0 0;
}

.shining h2 {
  align-self: flex-start;
}

.stacked h2 {
  transform: translateX(-100px);
}



/*****************************************************************************************************************/
/*                                                  GLOWING CARDS SECTION                                        */
/*****************************************************************************************************************/


.glowing {
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.glowing {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.glowing .box {
  position: relative;
  width: 320px;
  height: 400px;
  margin: 60px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.glowing .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  transform: skewX(20deg);
  transition: 0.5s;
}

.glowing .box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(20px);
}

.glowing .box:hover:before,
.glowing .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.glowing .box:nth-child(1):before,
.glowing .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.glowing .box:nth-child(2):before,
.glowing .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.glowing .box:nth-child(3):before,
.glowing .box:nth-child(3):after {
  background: linear-gradient(315deg, #3bc002, #00afd6);
}

.glowing .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.glowing .box span:before {
  content: "tell me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  display:flex;
  align-items: center;
  justify-content: center;
}

.glowing .box:hover span:before {
  top: -50px;
  left: 0px;
  width: 75px;
  height: 75px;
  opacity: 1;
}

.glowing .box span:after {
  content: "something";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  animation-delay: -1s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  display:flex;
  align-items: center;
  justify-content: center;
}

.glowing .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.glowing .box .content {
  position: relative;
  left: 0;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  color: #ffffff;
  z-index: 1;
  width: 85%;
}

.glowing .box:hover .content {
  left: -25px;
  padding: 60px 30px;
}

.glowing .box .content h2 {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

.glowing .box .content p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 10px;
}

.glowing .box .content a {
  border: 0.5px solid transparent;
  display: inline-block;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.85);
  background: rgba(255, 255, 255, 0.75);
  padding: 13px 10px 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 5px;
}

.glowing .box .content a:hover {
  letter-spacing: 0.5px;
  transition: 0.5s;
  font-size: 1em;
  border: solid 0.05px;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*****************************************************************************************************************/
/*                                                  SHINING CARDS SECTION                                        */
/*****************************************************************************************************************/

.shining {
  background: #08001b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shining .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 50px;
  background: #0c002b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shining:hover .card {
  opacity: 0.66;
}

.shining .card:hover {
  opacity: 1;
}


.shining .card:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.shining .card .content {
  padding: 30px;
  text-align: center;
}

.shining .card .content h2 {
  position: absolute;
  top: 100px;
  height: 100px;
  right: 10px;
  font-size: 2.5em;
  font-weight: 800;
  color: #1779ff;
  z-index: 1;
  visibility: hidden;
  transition: 0.5s ;
}

.shining .card:hover .content h2 {
  opacity: 1;
  transform: translateY(-80px);
  visibility: visible;
}

.shining .card .content h3 {
  position: relative;
  font-size: 2em;
  font-weight: 800;
  color: #fff;
  z-index: 2;
  letter-spacing: 1px;
  transition: 0.5s;
  padding-bottom: 0px;
} 

.shining .card .content p {
  position: relative;
  font-size: 1em;
  font-weight: 300;
  color: #fff;
  z-index: 2;
  letter-spacing: 1px;
  transition: 0.5s;
  padding-top: 20px;
}


.shining .card:hover .content h3,.shining .card:hover .content p {
  opacity: 1;
}

.shining .card .content a {
  border: 0.5px solid transparent;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 15px 8px 15px;
  background: rgba(255,255,255,0.75);
  color: #0c002b;
  text-decoration: none;
  font-weight: 600;
}

.shining .card .content a:hover {
  background: rgba(255,255,255,0.25);
  border: solid 0.5px #fff;
  color: #ffffff;
  font-weight: 400;
}

.shining .card span {
  transition: 0.5s;
  opacity: 0;
}

.shining .card:hover span {
  opacity: 1;
}
.shining .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}

.shining .card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, transparent, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(100%);}
}

.shining .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #1779ff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}

.shining .card span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, transparent, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
    0% {transform: translateY(100%);}
    100% {transform: translateY(-100%);}
}

/*****************************************************************************************************************/
/*                                                  STACKED CARDS SECTION                                        */
/*****************************************************************************************************************/

.stacked {
  background: #00071b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: -1;
}

.container {
  position: relative;
  width: 1100px;
  height: 550px;
}

.container .card {
  position: absolute;
  top: calc(50% - 200px);
  left: 50%;
  transform: translate(-50%, calc(100px * 0.5 * var(--i))) rotate(40deg) skew(-20deg, -10deg);
  width: 300px;
  height: 400px;
  background: rgb(124, 92, 4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 25px 25px 100px rgba(0,0,0,0.2);
  z-index: calc(-1 * var(--i));
  transition: 0.5s;
}

.container .card:nth-child(1){
  opacity: 1;
}

.container .card:nth-child(2){
  opacity: 0.9;
}

.container .card:nth-child(3){
  opacity: 0.8;
}

.container:hover .card {
  position: absolute;
  top: 50%;
  left: 50%; 
  z-index: 1;
  opacity: 1;
  box-shadow: 0px 25px 50px rgba(0,0,0,0.2);
}

.container:hover .card:nth-child(1) {
transform: translate(calc(-50% + calc(350px * 0.5 * var(--i))), -50%) rotate(0deg) skew(0deg, 0deg);
}

.container:hover .card:nth-child(2) {
  transform: translate(calc(-50% + calc(350px * 0 * var(--i))), -50%) rotate(0deg) skew(0deg, 0deg);
}

.container:hover .card:nth-child(3) {
  transform: translate(calc(-50% + calc(350px)), -50%) rotate(0deg) skew(0deg, 0deg);
}

.container .card .content {
  color: #cdd2df;
  opacity: 0.33;
  transition: 0.5s;
  transform: translateY(50px);
  padding: 25px;
  text-align: center;
}

.container:hover .card .content {
  opacity: 1;
  transform: translateY(0px); 
  transition-delay: calc(0.3s * var(--j));
}

.stacked .container .card .content h3 {
  padding-bottom: 30px;
  font-style: italic;
  font-size: 2em;
}