

/** Style des listes et sous-listes */

/* Listes de premier niveau -> puce avec une image de flèche */
main ul {
    list-style: url(../images/fleche.png);
    margin: 5px 10px 20px 40px;
    padding-left: 10px;
    text-align: justify;
}

/* Listes de second niveau (et suivants) -> puce avec une image de coche verte */
main ul ul {
    list-style: url(../images/coche.png); /* hérite des propriétés précédentes */
}



/**********************************************
                Menu de navigation
 *********************************************/

body > nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    background-color: var(--couleur);
}

nav > ul {
    box-sizing: content-box;
    height: 40px;
    padding: 5px;
    text-align: right;
}
nav > ul > li {
    display: inline-block;
}

nav ul > li {
    position: relative;
    line-height: 30px;
    vertical-align: middle;
    padding: 5px 10px;
}

/** Premier item de la liste : flotte à gauche */
nav > ul > li:first-of-type {
    float: left;
    text-align: left;
}
nav > ul > li:first-of-type a:before {
    content: '\2630';
    font-size: 90%;
    padding-right: 5px;
}

/* Survol des liens */
nav li:hover {
    background-color: #ECEFF1;
    border-radius: 5px;
}

nav li:hover > a:link,
nav li:hover > a:visited {
    color: var(--couleur);
}


/* Liens dans le menu */
nav li a:link, nav li a:visited {
    display: block;
    padding: 0 10px;
    color: #ECEFF1;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 120%;
}

/* Sous-menus : initialement cachés */
nav ul > li > ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: inherit;
    width: 100%;
    color: #ECEFF1;
    background-color: var(--couleur);
}
/* ...révéles au survol */
nav ul > li:hover > ul {
    display: block;
}

nav ul > li > ul > li > a:link,
nav ul > li > ul > li > a:visited {
    color: #ECEFF1;
    text-align: left !important;
}

/** Blocs sur le côté (présents sur la page d'index uniquement) */
#encours {
    position: fixed;
    background-color: #ECEFF1;
    border-radius: 10px;
    top: 70px;
    left: 20px;
    width: 170px;
    font-size: 15px;
    border: solid 2px var(--couleur);
    padding: 5px;
}

#avenir
 {
    position: fixed;
    background-color: #ECEFF1;
    border-radius: 10px;
    top: 70px;
    right: 20px;
    width: 170px;
    font-size: 15px;
    border: solid 2px var(--couleur);
    padding: 5px;
}

/** Listes de définitions */


aside dl {
    padding: 2px;
}
aside dt {
    margin: 10px 0 0;
    text-align: left;
    font-weight: bold;
}
aside dd {
    margin: 10px;
    text-align: left;
    font-style: oblique;
}


/**************************************************
       Style spécifiques à la page index
**************************************************/

#logo {
    display: block;
    width: 95%;
    height: auto;
    margin: 20px auto 20px auto;
}



.important {
    color: var(--couleur);
    font-weight: bold;
    border: solid 2px var(--couleur);
    width: 80%;
    margin: 10px auto;
    text-align: justify;
}


/* Tableaux index */
#loisirs {
    width: 600px;
    margin: 0px auto;
}
#loisirs td {
    padding: 5px 10px;
    text-align: center;
}

#complements {
    width: 600px;
    margin: 20px auto;
}

#complements thead {
    background: var(--couleur);
}

#complements th {
    padding: 5px 10px;
    font-weight: bold;
    font-style: italic;
    border: solid 2px var(--couleur);
    color: #ECEFF1;
}

#complements td {
    padding: 5px 10px;
    border: solid 2px var(--couleur);
    text-align: center;
}

#complements td:nth-child(3) {
    font-style: italic;
    text-align: justify;
}
#complements td:nth-child(3)::before {
    content: "\201c"
}
#complements td:nth-child(3)::after {
    content: "\201d"
}




/**************************************************************************
                            Page de contact
***************************************************************************/
#contact table {
    width: auto;
    margin: 20px auto;
}

#contact table tr {
    height: 25px;
}
#contact table th {
    text-align: center;
    font-weight: bold;
}
#contact table td {
    padding: 2px 5px;
}
#contact table td:first-child {
    text-align: right;
}

#contact section {
    padding: 10px;
}


#commande table td {
    border: solid 1px #000;
}

#commande input[type=number] {
    width: 40px;
}


#contact input[type=radio] {
    margin-left: 40px;
}

/* CSS trick : blocs initialement cachés */
#contact #question, #contact #commande {
    display: none;
    margin-top: 20px;
}
/* blocks visibles si la case correspondante est cochée */
#contact #radDem1:checked ~ #question {
    display: block;
}
#contact #radDem2:checked ~ #commande {
    display: block;
}

#contact textarea {
    width: 60%;
    display: block;
    height: 100px;
    margin: 10px auto;
}

#contact input[type=text], #contact input[type=email], #contact input[type=password] {
    width: 300px;
}

/* Boutons submit et reset */
#contact input[type=submit]:hover, #contact input[type=reset]:hover {
    background-color: var(--couleur);
    opacity: 1;
    color: #ECEFF1;
}
#contact input[type=submit], #contact input[type=reset] {
    font-family: Didot, sans-serif;
    padding: 8px 16px;
    font-weight: bold;
    color: var(--couleur);
    font-size: 18px;
    border-radius: 16px;
    border-color: var(--couleur);
    border: 2px solid;
    width: 125px;
    margin: 20px auto;
    cursor: pointer;
    background-color: #ECEFF1;
}
#contact input[type=submit] {
    margin-left: 33%;
}
#contact input[type=reset] {
    margin-right: 33%;

}

#contact input[type=text][readonly] {
    border: none;
}

#contact .check input{
    display: none;
}

/* Changer l'aspect des checkbox */

.check .carre {
  background-color: #ECEFF1;
  border: 2px solid var(--couleur);
  width: 12px;
  height: 12px;
  display: inline-block;
}

input:checked + .carre {
  background-color: var(--couleur);
}

/* Changer la couleur des boutons radio */
input[type='radio']:after {
     width: 15px;
     height: 15px;
     border-radius: 15px;
     top: -4px;
     left: -4px;
     position: relative;
     background-color: #ECEFF1;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid var(--couleur);
 }

input[type='radio']:checked:after {
     width: 15px;
     height: 15px;
     border-radius: 15px;
     top: -4px;
     left: -4px;
     position: relative;
     background-color: var(--couleur);
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid #ECEFF1;
 }
